.product-detail{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    
    &-images{
        width: 60%;
        height: 150vh;
        margin-right: 10px;

        img{
            width: 100%;
            height: 100%;
        }
    }

    &-choice{
        width: 40%;
        overflow: auto;
        position: sticky;
        top: 0;
        height: 100%;
        padding: 30px 0 0 20px;
        font-size: 22px;

        //디테일상품타이틀
        &-title{
            
            &-new{
                background-color: red;
                color: white;
                padding: 3px 5px;
                font-size: 12px;
                font-weight: 400;
                margin-top: 1px;
                vertical-align: middle;
            }
        }
        //디테일 상품가격
        &-price{
            font-weight: bold;
            padding: 10px 0 30px 0;
        }
        //디테일 상품사이즈
        &-size{
            display: flex;
            padding-left: 0;

            li{
                padding: 3px 20px;
                border: 1px solid black;
                cursor: pointer;

                &:nth-child(2){
                    border-right: 0px;
                    border-left: 0px;
                }

                &:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
        //배송정보
        &-info{
            padding: 30px 0 0 0;
            font-size: 13px;

            li{
                margin: 2px 0;
            }
        }

        //디테일 장바구니 추가
        &-add{
            margin-top: 30px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 7px 0;
            cursor: pointer;
        }
        //디테일 상품 세부 내용
        &-desc{
            padding-left: 0;
            margin-top: 40px;
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
            font-size: 16px;

            li{
                padding: 10px 20px;
                cursor: pointer;
            }

            li:nth-child(2){
                border-top: 1px solid gray;
                border-bottom: 1px solid gray;
            }

            li:hover{
                color: red;
            }
        }
    }
}